.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-container > h2 {
  font-family: Oxanium, sans-serif;
  font-size: 2rem;
  color: white;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #111;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid rgba(51, 51, 51, 0.25);
  width: 400px;
  height: max-content;
  gap: 1.5rem;
}

.auth-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.auth-row > input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(51, 51, 51, 0.25);
  background-color: #222;
  outline: none;
  color: white;
}

.auth-row > input:focus {
  border-color: rgba(51, 51, 51, 0.75);
}

.auth-row > label {
  font-weight: bold;
  color: white;
}

.auth-form > button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.auth-form > button:hover {
  background-color: #555;
}
