.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.inventory-content {
  margin: 100px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  background-color: #111;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid rgba(51, 51, 51, 0.25);
  width: 80vw;
  height: 80vh;
}

.inventory-header {
  font-family: Oxanium, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  height: max-content;
}

.inventory-item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  height: 90%;
  overflow-y: auto;
}

.inventory-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 150px;
  width: 150px;
  align-items: center;
  background-color: #1f1f1f;
  border: 2px solid rgba(51, 51, 51, 0.25);
  outline: none;
  border-radius: 8px;
  position: relative;
}

.inventory-item:hover {
  opacity: 0.7;
}

.inventory-item h3 {
  font-size: 1rem;
  color: white;
  margin-top: 5px;
  width: 100%;
  word-wrap: break-word;
}

.inventory-item img {
  height: 75px;
  width: 75px;
}

.inventory-item div {
  position: absolute;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  padding: 0 5px 0 5px;
}

.inventory-item div p {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
